[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
werkzeug = "*"

[packages]
django = "*"
djangorestframework = "*"
drfpasswordless = "*"
django-extensions = "*"
requests = "*"
django-cors-headers = "*"
pylint-django = "*"
django-q = "*"
drf-yasg = "*"
boto3 = "*"

[requires]
python_version = "3.7"
